In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame({
    "name":["Manish"]
})
df

     name
0  Manish